<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppK"
        tools:targetApi="31">
        <activity
            android:name=".firstP.auMedioActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejMedioActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.MeMedioActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.verbosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.saludosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.pronombresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.numerosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.NaturalezaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meVerbosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.MenuNIIIActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.MenuIIActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meNumerosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meNaturalezaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meFamiliaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meEjSaludarActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meEjPronombresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meEjDiasActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.MediosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meColoresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meCasaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.meAnimoActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.FamiliaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejVerbosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.EjSaludarActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejPronombreActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejNumerosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejNaturalezaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejFamiliaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejDiasActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejColoresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejCasaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.ejAnimoActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.DiasActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.coloresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.casaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auVerbosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auSaludarActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auPronombresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auNumerosActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auNaturalezaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auFamiliaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auDiasActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auColoresActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auCasaActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.auAnimoActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.animoActivity"
            android:exported="false" />
        <activity
            android:name=".firstP.menuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>